html {
  width: fit-content;
}
body {
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  width: fit-content;
}
input {
  outline: none;
  min-width: 300px;
  width: 100%;
  font-family: Tahoma;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  letter-spacing: 2px;
  resize: none;
  border-radius: 8px;
  margin-bottom: 10px;
}
#tip {
  font-family: Tahoma;
  font-size: 16px;
}